*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1457;
    height: 690;
    position: relative;
}
.iventta{
    top: 68px;
    left: 125px;
    position: absolute;
}
/* RESET */
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* HEADER */
header{
    height: 100px;

}

/* BANNER */
#banner{
    padding: 0 50px;
    background-image: url("./imagenes/background.jpg");
    height:  30vh;
    background-size: cover;
    background-position: center;
}